body {
	margin: 0;
	font-family: 'Times New Roman', Times, serif;
	background-color: rgb(33, 6, 33, 0.5);
}

.pp-ul {
	list-style-type: none;
}

/* Footer */
footer {
	clear: both;
	text-align: center;
	background-color: rgb(10, 6, 48);
	height: 586px;
	width: 97%;
	color: rgb(255, 255, 255);
	margin: auto;
	padding: 15px;
	padding-left: 10px;
}

.text {
	padding-top: 5px;
	color: rgb(255, 255, 255);
	text-align: center;
}

/* icons */
.fa-heart {
	color: rgb(255, 255, 255);
}

.fa-facebook {
	color: rgb(255, 255, 255);
}

.fa-instagram {
	color: rgb(255, 255, 255);
}

.fa-snapchat {
	color: rgb(255, 255, 255);
}

.fa-twitter {
	color: rgb(255, 255, 255);
}

.author {
	color: rgba(255, 255, 255, 0.719);
	padding-top: 80px;
}

.myname {
	font-size: larger;
	text-align: center;
}

.email {
	text-align: center;
}

.privacy {
	color: rgba(255, 255, 255, 0.719);
}


.terms {
	color: rgba(255, 255, 255, 0.719);
}

.top {
	margin-top:510px;
	float: right;
}

.text-back-footer {
	color: rgb(12, 12, 12);
	position: relative;
	top: -7px;
	height: 600px;
	width: 800px;
	float: left;
}

aside {
	clear: right;
	margin-right: 125px;
}

section {
	float: right;
}


@media (max-width: 1024px) {
	header {
		background-color: rgb(65, 6, 242);
	}

	h1 {
		background-color: rgb(65, 6, 242);
	}

	path {
		fill: rgb(65, 6, 242);
	}
}

@media (max-width: 768px) {
	header {
		background-color: rgb(168, 29, 94);
	}

	h1 {
		background-color: rgb(168, 29, 94);
	}

	path {
		fill: rgb(168, 29, 94);
	}
}

@media (max-width: 480px) {
	header {
		background-color: rgb(52, 165, 82);
	}

	h1 {
		background-color: rgb(52, 165, 82);
	}

	path {
		fill: rgb(52, 165, 82);
	}
}